# Copy this file to .env and change values
PORT=3000
SESSION_SECRET=change_me_to_a_long_random_string

# Admin credentials
# Password is stored as a bcrypt hash (generate with the helper in server.js comments)
ADMIN_USERNAME=admin
ADMIN_PASSWORD_BCRYPT=$2b$10$.CU5ywOn48EHAFUN0MkaEOcHVIghsXhbJzroKp5Tb5ntBq73rPJu6
